*{
    background-color: rgb(65, 67, 212);
    color: snow;
    font-family: 'Ubuntu Mono', cursive;
}

#introimg{
    /* position:absolute;
    right: 2%;
    top: 13rem; */
    width: 30%;
    float: right;
    border-radius: 20px;
    margin: 4.3% 3.52% 1.56% 0px;
    
}

h3{
    font-size: 35px;
}
h2{
    font-size: 80px;
}

#intro{
    /* height: auto; */
    padding: 2px;
    margin-bottom: 75px;
}

#introtext{
    float: left;
    font-size: 90px;
    width: 60%;
    padding: 10px;
    margin: 5.86% 0.16% 0.78% 1.17%;
    word-wrap: break-word;
    /* margin-left: 75px;
    margin-top: 75px; */
    
}

.clear{
    clear: both;
}
.navbar{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: rgb(112, 243, 155);
    font-size: 35px;
    word-spacing: 30px;
    
}    

.nav-elements{
    background: rgb(112, 243, 155);
    color:rgb(204, 0, 255);
    padding: 5px;
    margin-left: 20px;
}


.heading{
    text-align: center;
}



.Tips{
    font-size: 55px;
    list-style: none;
}

.tip{
    height: 320px;
    border: 4px solid rgb(187, 38, 224);
    border-radius: 20px;
    line-height: 330px; 
    /* vertical-align: center; */
    margin-bottom: 50px;
    margin-right: 25px;
}
#t1img{
    float: left;
    width: 300px;
    margin: 10px 50px;
}

#tip1-text{
    margin: 50px;
    padding: 20px;
}

#tip2{
    text-align: right;
}

#t2img{
    float: right;
    width: 300px;
    margin: 10px 50px;
}

#tip2-text{
    margin: 50px;
    padding: 20px;
}


table {
    font-size: 40px;
    table-layout: fixed;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 5px solid navy;
}

thead th:nth-child(1) {
    width: 25%;
}
  
thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 50%;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 5px solid navy;
}


#faqs-section{
    border: 4px solid navy;
    border-radius: 10px;
    margin-right: 40px;
    
}

.FAQ-list{
    list-style: none;
}

.faq{
    border: 3px solid rgb(187, 38, 224);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.question{
    font-size: 30px;
}

.answer{
    font-size: 25px;
    text-align: left;
    padding: 10px;
}

#player{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 350px;
    border: 3px solid rgb(187, 38, 224);
    border-radius: 5px;
}

.footer{
    background-color: rgb(187, 38, 224);
    font-size: 30px;
    height: 150px;
    line-height: 150px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin-top: 40px;
    
}

#mail{
    float: right;
    margin-right: 10px;
    background-color: rgb(187, 38, 224);
}